@page "/register"
@inject IAuth authInterface;
@inject NavigationManager navigationManager




<div class="row m-2 text-light bg-dark h-100">
    
    <div class="col-12 col-md-6">
        <img class="img-fluid h-67 w-100 object-fit-contain" src="https://i.pinimg.com/236x/f4/6b/92/f46b924c93829734af158a2328d3568b.jpg" alt="Responsive Image" />
    </div>


    <div class="col-12 col-md-6 p-4">
        <h1 class="text-light">Register User</h1>
       @*  Display Success Msg *@
        @if (!string.IsNullOrEmpty(successMessage))
        {
            <div class="alert alert-success" role="alert">
                @successMessage
                <button class="btn btn-success" @onclick="NavigateToUser">OK</button>
            </div>
        }

        @*  Display Error Msg *@
        @if (errorMessage != null)
        {
            <div class="alert alert-danger" role="alert">
                @errorMessage
            </div>
        }

        <EditForm Model="@newUser" OnValidSubmit="registerUser">
            <DataAnnotationsValidator />

            <div class="form-group p-2">
                <label for="name" class="text-light">Name</label>
                <InputText type="text" class="form-control p-2" id="name" @bind-Value="@newUser.Name" aria-describedby="name" />
                <ValidationMessage For="@(()=>newUser.Name)" />
            </div>

            <div class="form-group p-2">
                <label for="email" class="text-light">Email</label>
                <InputText type="email" class="form-control p-2" id="email" @bind-Value="@newUser.Email" aria-describedby="name" />
                <ValidationMessage For="@(()=>newUser.Email)" />
            </div>

            <div class="form-group p-2">
                <label for="Phone" class="text-light">PhoneNumber</label>
                <InputText type="text" class="form-control p-2" id="Phone" @bind-Value="@newUser.PhoneNumber" aria-describedby="name" />
                <ValidationMessage For="@(()=>newUser.PhoneNumber)" />
            </div>


            <div class="form-group p-2">
                <label for="password">Password</label>
                <div class="input-group">
                    <InputText type="@passwordFieldType" class="form-control p-2" id="password" @bind-Value="@newUser.Password" aria-describedby="name" />
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" @onclick="TogglePasswordVisibility">
                            @passwordToggleIcon
                        </button>
                    </div>
                </div>
                <ValidationMessage For="@(() => newUser.Password)" />
            </div>

            <div class="form-group p-2">
                <label for="role" class="text-light">Role</label>
                <select class="form-control p-2" id="role" @bind="newUser.Role">
                    <option value="Bidder">Bidder</option>
                    <option value="Seller">Seller</option>
                </select>
            </div>

            <div class="flex-row m-2">
                <button type="submit" style="width:100px" class="p-2 m-1 btn btn-primary">Submit</button>
            </div>

            <div class="row">
                <p class="col-12 col-md-8 text-light">Already a member? <a href="login" class="text-light">Login</a></p>
            </div>
        </EditForm>
    </div>
</div>

@code {
    private RegisterRequestDto newUser = new RegisterRequestDto();
    private string successMessage;
    private string errorMessage;
    private string passwordFieldType = "password";
    private string passwordToggleIcon = "👁️"; 

    private async Task registerUser()
    {
        var res = await authInterface.Register(newUser);
        

        if(res.IsSuccess)
        {
            //Set success Message
            successMessage = "Registration Successfull!!";
            //clear any previous error message
            errorMessage = null;
            
        }
        else
        {
            errorMessage = "Registration Failled. Please check your info and try again!! ";
            successMessage = null;
        }
    }
    private void NavigateToUser()
    {
        navigationManager.NavigateTo("/login");
    }

    private void TogglePasswordVisibility()
    {
        passwordFieldType = (passwordFieldType == "password") ? "text" : "password";
        passwordToggleIcon = (passwordFieldType == "password") ? "👁️" : "👁️‍🗨️"; 
    }
}
